* {
  padding: 0;
  margin: 0;
  /* background-color: bisque; */
  box-sizing: border-box;
}

.wave-hand-emoji {
  animation: wave-hand 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.beat {
  width: 24px;
  color: #e53e3e;
  animation: heartbeat 1.3s ease-in-out infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

body {
  padding: 2px;
  margin: 2px;

  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #06aed5;
}

.main-nav {
  display: flex;
}

.author {
  margin-right: auto;
  font-size: 1.5rem;
  color: blueviolet;
}

.nav-bar {
  display: flex;
}

.gap {
  margin-left: 10px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  font-size: 1.125rem;

  color: black;
  font-weight: 600;
}

/* Main */
.jumbotron {
  display: flex;
}

.coder-image {
  position: relative;
  top: 90px;
  right: 16px;
}

.git-info {
  transition: 0.3s ease;
  border: 1px solid blueviolet;
  border-radius: 62px;
  width: 186px;
  padding: 3px 0 9px 30px;
  margin-top: 35px;
}

.git-info:hover {
  cursor: pointer;
  background: blueviolet;
}

.git-link {
  display: block;
  border-radius: 5px;
  border: 1px solid blueviolet;
  padding: 5px;
  width: max-content;
  transition: 0.3s ease;
  position: relative;
  bottom: 100px;
  left: 50%;
}

.git-link:hover {
  cursor: pointer;
  background: blueviolet;
}
.git-link > a {
  color: black;
}

.git-image {
  width: 32px;
  border-radius: 20px;
}

p {
  font-size: 18px;
  font-weight: 300;
  font-family: Ubuntu, sans-serif;
  letter-spacing: 0.4px;
  line-height: 27px;
}
/* Footer */
footer {
  background: aliceblue;
  box-shadow: 0px 10px 21px blueviolet inset;
  margin-top: 20px;
  position: fixed;
    bottom: 0;
  width: 100%;
}

footer > div {
  position: relative;
  left: 37%;
  margin-bottom: 10px;
}

.copyright {
  display: flex;
}

.contact-details {
  display: flex;
  justify-content: center;
  width: 100px;
  padding-left: 95px;
  gap: 10px;
}

.text-detail {
      margin-top: 20px;
}


/* Media Queries for mobile view */
@media only screen and (max-width: 768px) {
  body {
    padding: 10px;
    margin: 10px;
  }

  .main-nav {
    display: flex;
  }

  .author {
    margin-right: auto;
    font-size: 1.5rem;
    color: blueviolet;
  }

  .nav-bar {
    display: flex;
  }

  .gap {
    margin-left: 10px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;

    font-size: 1.125rem;

    color: black;
    font-weight: 600;
  }

  .links {
    position: fixed;
    top: 451px;
    right: 0px;
    /* border: 2px solid black; */
    padding: 23px;
    width: 100%;
    background: blueviolet;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  }

  /* Main */
  .jumbotron {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .coder-image {
    position: relative;
    top: 21px;
    left: 32px;
  }
  .coder-image > img {
    height: 256px;
  }

  .text-detail {
    margin-bottom: 60px;
  }

  .git-info {
    /* border: 2px solid #6e719c;
    border-radius: 62px;
    width: 94px;
    padding: 20px;
    margin-bottom: 20px;
    background: blueviolet; */
    display: none;
  }

  .git-link {
    display: none;
  }

  p {
    /* font-size: 18px;
    font-weight: 300;
    font-family: Ubuntu, sans-serif;
    letter-spacing: 0.4px;
    line-height: 27px; */
  }

  /* Footer */

  footer {
    /* background: aliceblue;
    box-shadow: 0px 10px 21px blueviolet inset;
  margin-top: 20px;
  position: fixed;
      bottom: 0;
      width: 100%; */
    display: none;
  }

  footer > div {
    position: relative;
    left: 50%;
    margin-bottom: 10px;
  }

  .copyright {
    display: flex;
  }

  .contact-details {
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding-left: 30px;
  }
}
